fastapi==0.115.0
uvicorn==0.30.6
pymongo==4.8.0
yfinance==0.2.44
requests==2.32.3
langchain==0.2.16
langgraph==0.2.14
langchain-groq==0.1.9
python-dotenv==1.0.1
pandas==2.2.2
numpy==1.26.4
pydantic==2.9.2